<div id="fb-root"></div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="login-box">
          <div class="container-login100">
            <div class="wrap-login100">
              <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-30"> Đăng nhập </span>

                <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=142520407857771&amp;redirect_uri=https%3A%2F%2Fvietjack.online%2Foauth%2Ffacebook%2Fcallback&amp;scope=email&amp;response_type=code&amp;state=3s6m2y0lwyfgpRgO2SEnXeHAh36GJrIG492tmqDN"
                  class="btn-face m-b-20">
                  <i class="fa fa-facebook-official"></i>
                  Facebook
                </a>

                <a href="https://accounts.google.com/o/oauth2/auth?client_id=711443853754-m8injcp0cssr050oi904u1l492c6rq2l.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fvietjack.online%2Foauth%2Fgoogle%2Fcallback&amp;scope=openid+profile+email&amp;response_type=code&amp;state=QpERlHejgcw9gl9Zj9g0npj7rvnwth7OWz0FiayQ"
                  class="btn-google m-b-20">
                  <img src="/assets/user/images/icon-google.png" alt="GOOGLE" />
                  Google
                </a>

                <div class="login100-pic m-auto">
                  <img src="/assets/user/images/img-01.png" alt="IMG" />
                </div>

                <!-- <div class="p-t-31 p-b-9">
                                <span class="txt1">
                                    Username
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                                <input class="input100" type="text" name="username" >
                                <span class="focus-input100"></span>
                            </div>

                            <div class="p-t-13 p-b-9">
                                <span class="txt1">
                                    Password
                                </span>

                                <a href="#" class="txt2 bo1 m-l-5">
                                    Forgot?
                                </a>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                                <input class="input100" type="password" name="pass" >
                                <span class="focus-input100"></span>
                            </div>

                            <div class="container-login100-form-btn m-t-17">
                                <button class="login100-form-btn">
                                    Sign In
                                </button>
                            </div>

                            <div class="w-full text-center p-t-55">
                                <span class="txt2">
                                    Not a member?
                                </span>

                                <a href="#" class="txt2 bo1">
                                    Sign up now
                                </a>
                            </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-header></app-header>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <span class="fas fa-angle-up"></span>
  </span>
</div>

<app-footer></app-footer>