<main id="app">
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
        <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
            <form  name="form"  #userRegistrationForm="ngForm">
                <div>
                    <label class="block font-medium text-sm text-gray-700" for="email">
                        Email
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="email" type="email" name="email" #email="ngModel" [(ngModel)]="nguoidung.email" autofocus="autofocus"  required >
                </div>

                <div>
                    <label class="block font-medium text-sm text-gray-700" for="ten">
                        Họ và tên
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="ten" type="text" name="ten" #ten="ngModel" [(ngModel)]="nguoidung.ten" autofocus="autofocus"  required >
                </div>

                <div >
                    <label class="block font-medium text-sm text-gray-700" for="sdt">
                        Số điện thoại
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="sdt" type="text" name="ngaySinh" #sdt="ngModel" [(ngModel)]="nguoidung.sdt" autofocus="autofocus"  required >
                </div>

                <div >
                    <label class="block font-medium text-sm text-gray-700" for="ngaySinh">
                        Ngày sinh
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="ngaySinh" type="date" name="ngaySinh" #ngaySinh="ngModel" [(ngModel)]="nguoidung.ngaySinh" autofocus="autofocus"  required >
                </div>

                <div >
                    <label class="block font-medium text-sm text-gray-700" for="queQuan">
                        Quê quán
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="ngaySinh" type="text" name="queQuan" #queQuan="ngModel" [(ngModel)]="nguoidung.queQuan" autofocus="autofocus"  required >
                </div>

                <div class="mt-4" data-validate="Password is required">
                    <label class="block font-medium text-sm text-gray-700" for="password">
                        Mật khẩu
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="password" type="password" name="matKhau" #matKhau="ngModel" [(ngModel)]="nguoidung.matKhau" required>
                </div>

                <div class="flex items-center justify-end mt-4" style="padding-right: 150px;">
                    <button type="submit" 
                        class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition ml-4">
                        Đăng ký
                    </button>                                        
                </div>

            </form>
        </div>
    </div>
</main>
