<main id="app">
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
        <div>

        </div>
        <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                
                <div data-validate="Email is required" >
                    <label class="block font-medium text-sm text-gray-700" for="email">
                        Email
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="email" type="email" name="EmailCus" autofocus="autofocus" [(ngModel)]="form.EmailCus" required #EmailCus="ngModel">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="EmailCus.errors && f.submitted">
                    Email không được bỏ trống!
                </div>
                <div class="mt-4" data-validate="Password is required">
                    <label class="block font-medium text-sm text-gray-700" for="password">
                        Mật khẩu
                    </label>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block mt-1 w-full"
                        id="password" type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                    >
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors">Mật khẩu không được để trống</div>
                    <div *ngIf="password.errors ">
                        Mật khẩu của bạn phải có ít nhất 6 kí tự
                    </div>
                </div>
                <div class="block mt-4">
                    <label for="remember_me" class="flex items-center">
                        <input id="remember_me" type="checkbox" class="form-checkbox" name="remember" >
                        <span class="ml-2 text-sm text-gray-600">Remember me</span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Thông tin tài khoản hoặc mật khẩu của bạn không đúng {{ errorMessage }}
                    </div>
                </div>
                <div class="flex items-center justify-end mt-4" style="padding-right: 150px;">
                    <button type="submit" 
                        class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition ml-4">
                        Login
                    </button>
                    
                    
                </div>
                <div style="margin-top: 5px;float: right;">
                    <a class="underline text-sm text-gray-600 hover:text-gray-900" href="forgot-password.html">
                        Forgot your password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>