<main id="app">
    <div class="box-wrapper container-fluid">
        <div class="content-wrapper unsidebar">
            <div id="main-content" class="exam-preview">
                <!-- <div class="content-header bg-white">
                    <div class="container">
                        <div class="headline bg0 flex-wr-sb-c p-t-10">
                        </div>
                        <h2 class="name-exam f1-l-3 cl2 p-b-10 p-t-10 respon2">
                            <span>Tên đ ề</span>
                        </h2>
                    </div>

                </div> -->
                <div class="content-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h4 class="f1-l-4 cl3 p-tb-12 name-sub-exam">
                                    10 Đề thi thử THPTQG môn GDCD có đáp án (P1)
                                </h4> -->
                                <!-- <ul class="exam-infor">
                                    <li>
                                        <p><i class="far fa-calendar-check"></i> 4949 lượt thi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-question-circle"></i> 41 câu hỏi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-clock"></i> 50 phút</p>
                                    </li>
                                </ul>
                                <div class="p-tb-12">
                                    <a href="javascript:;" class="start_exam" data-toggle="modal"
                                        data-target="#loginModal">
                                        <i class="fas fa-stopwatch"></i> BẮT ĐẦU LÀM BÀI
                                    </a>
                                </div> -->
                                <div>
                                    <!-- <h3 class="f1-m-14 cl3 p-t-5 text-uppercase">
                                        Danh sách câu hỏi
                                    </h3> -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="qas" style="max-height: initial;">
                                                <div class="p-t-12">
                                                    <div class="quiz-answer-item" *ngFor="let item of CauHoiDeCauHoi;let i=index" >
                                                        <a href="" class="question">
                                                            <p class="number-question">Câu {{i+1}}:</p>
                                                            <div class="title-question overflow-x-el p-t-12" [innerHTML]="item.cauHoi1" >
                                                                <!-- {{item.cauHoi1}} -->
                                                            </div>
                                                        </a>
                                                        <div class="answers" style="margin-top: -10px;" >
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice" >
                                                                
                                                                <label (click)="chonDapAn(item.id,tempArray[i][0],tempArray[i][1])">   
                                                                    <input type="radio"  name="answers{{i}}"  id="" class="cr">                                                                
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">A.
                                                                            </span></strong>
                                                                        <span style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;" >
                                                                            {{tempArray[i][0]}}
                                                                        </span>
                                                                    </p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio"  data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label (click)="chonDapAn(item.id,tempArray[i][2],tempArray[i][3])">
                                                                    <input type="radio" name="answers{{i}}"   class="cr">   
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">B.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">  {{tempArray[i][2]}}</span></p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label (click)="chonDapAn(item.id,tempArray[i][4],tempArray[i][5])">
                                                                    <input type="radio"  name="answers{{i}}" id="" class="cr">   
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">C.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">
                                                                            {{tempArray[i][4]}}
                                                                        </span></p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label (click)="chonDapAn(item.id,tempArray[i][6],tempArray[i][7])  ">
                                                                    <input type="radio"  name="answers{{i}}"   id="" class="cr">   
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">D.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">
                                                                            {{tempArray[i][6]}}</span></p>
                                                                </label>
                                                            </div>
                                                         
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    <button class="btn btn-info" style="float: right;" (click)="tinh()">Nộp bài</button>
                                                </div>
                                               
                                                <br><br>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay"></div>
    </div>
</main>