
<main id="app">
    <div class="profile">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight text-center m-t-30">
            Hồ sơ cá nhân
        </h2>
        <div class="max-w-7xl mx-auto p-tb-20 sm:px-6 lg:px-8">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1 flex justify-between">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium text-gray-900">Thông tin cá nhân</h3>

                        <p class="mt-1 text-sm text-gray-600">
                            Cập nhật thông tin tài khoản của bạn.
                        </p>
                    </div>

                    <div class="px-4 sm:px-0">

                    </div>
                </div>

                <div class="mt-5 md:mt-0 md:col-span-2">
                    <form wire:submit.prevent="updateProfileInformation" >
                        <div class="px-4 py-5 bg-white sm:p-6 shadow sm:rounded-tl-md sm:rounded-tr-md" style="box-shadow:0px">
                            <div class="grid grid-cols-6 gap-6">
                                <!-- Profile Photo -->
                                <div x-data="{photoName: null, photoPreview: null}" class="col-span-6 sm:col-span-4">
                                    <!-- Profile Photo File Input -->
                                    <input type="file" class="hidden" wire:model="photo" x-ref="photo" x-on:change="" />

                                    <label class="block font-medium text-sm text-gray-700" for="photo">
                                        Ảnh
                                    </label>

                                    <!-- Current Profile Photo -->
                                    <div class="mt-2" x-show="! photoPreview">
                                        <img src="https://vietjack.online/storage/profile-photos/JmOzrv5IxKIGWzRG9Mvy2qwHnZWSffecrHDrfCqV.jpg"
                                            alt="03. Nguyễn Hợp Chiến" class="rounded-full h-20 w-20 object-cover">
                                    </div>

                                    <!-- New Profile Photo Preview -->
                                    <div class="mt-2" x-show="photoPreview">
                                        <span class="block rounded-full w-20 h-20"
                                            x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                                        </span>
                                    </div>

                                    <button type="button"
                                        class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:text-gray-800 active:bg-gray-50 disabled:opacity-25 transition mt-2 mr-2"
                                        x-on:click.prevent="$refs.photo.click()">
                                        Chọn ảnh
                                    </button>

                                    <button type="button"
                                        class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:text-gray-800 active:bg-gray-50 disabled:opacity-25 transition mt-2"
                                        wire:click="deleteProfilePhoto">
                                        Xóa ảnh
                                    </button>

                                </div>

                                <!-- Name -->
                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block font-medium text-sm text-gray-700" for="name">
                                        Name
                                    </label>
                                    <input
                                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                        id="name" type="text" value="{{data_getDN[0].ten}}" wire:model.defer="state.name" autocomplete="name" />
                                </div>

                                <!-- Email -->
                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block font-medium text-sm text-gray-700" for="email">
                                        Email
                                    </label>
                                    <input value="{{data_getDN[0].email}}"
                                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                        id="email" type="email" wire:model.defer="state.email">
                                </div>
                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block font-medium text-sm text-gray-700" for="email">
                                       Quê quán
                                    </label>
                                    <input value="{{data_getDN[0].queQuan}}"
                                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                        id="address" type="text" wire:model.defer="state.email">
                                </div>
                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block font-medium text-sm text-gray-700" for="email">
                                        Số điện thoại
                                    </label>
                                    <input value="{{data_getDN[0].sdt}}"
                                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                        id="phone" type="phone" wire:model.defer="state.email">
                                </div>
                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block font-medium text-sm text-gray-700" for="email">
                                      Ngày sinh
                                    </label>
                                    <input value="{{data_getDN[0].ngaySinh}}"
                                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                        id="Dob" type="Dob" wire:model.defer="state.email">
                                </div>

                            </div>
                        </div>

                        <div
                            class="flex items-center justify-end px-4 py-3 bg-gray-50 text-right sm:px-6 shadow sm:rounded-bl-md sm:rounded-br-md">
                            <div x-data="{ shown: false, timeout: null }"
                                x-init="window.livewire.find('7A31ELNsLTPrBhw9wVTP').on('saved', () => { clearTimeout(timeout); shown = true; timeout = setTimeout(() => { shown = false }, 2000);  })"
                                x-show.transition.opacity.out.duration.1500ms="shown" style="display: none;"
                                class="text-sm text-gray-600 mr-3">
                               Lưu
                            </div>

                            <button type="submit"
                                class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                                wire:loading.attr="disabled" wire:target="photo">
                          Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="hidden sm:block">
                <div class="py-8">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>

            <div class="mt-10 sm:mt-0">
                <div wire:id="4qP6LbK1CUzBaFkn9ygX"
                    wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;4qP6LbK1CUzBaFkn9ygX&quot;,&quot;name&quot;:&quot;profile.set-password-form&quot;,&quot;locale&quot;:&quot;vi&quot;,&quot;path&quot;:&quot;user\/profile&quot;,&quot;method&quot;:&quot;GET&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;2705578e&quot;,&quot;data&quot;:{&quot;state&quot;:{&quot;password&quot;:&quot;&quot;,&quot;password_confirmation&quot;:&quot;&quot;}},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;9e8420e69b8691fb782fb69e2b7de8146f6a3af4594fc41e13dad87b3e318eff&quot;}}"
                    class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1 flex justify-between">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium text-gray-900">Đặt mật khẩu</h3>

                            <p class="mt-1 text-sm text-gray-600">
                                Đảm bảo tài khoản của bạn đang sử dụng mật khẩu đủ khó để giữ an toàn.
                            </p>
                        </div>

                        <div class="px-4 sm:px-0">

                        </div>
                    </div>

                    <div class="mt-5 md:mt-0 md:col-span-2">
                        <form wire:submit.prevent="setPassword">
                            <div class="px-4 py-5 bg-white sm:p-6 shadow sm:rounded-tl-md sm:rounded-tr-md">
                                <div class="grid grid-cols-6 gap-6">
                                    <div class="col-span-6 sm:col-span-4">
                                        <label class="block font-medium text-sm text-gray-700" for="password">
                                            Mật khẩu mới
                                        </label>
                                        <input
                                            class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                            id="password" type="password" wire:model.defer="state.password"
                                            autocomplete="new-password">
                                    </div>

                                    <div class="col-span-6 sm:col-span-4">
                                        <label class="block font-medium text-sm text-gray-700"
                                            for="password_confirmation">
                                         Xác nhận mật khẩu
                                        </label>
                                        <input
                                            class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
                                            id="password_confirmation" type="password"
                                            wire:model.defer="state.password_confirmation" autocomplete="new-password">
                                    </div>
                                </div>
                            </div>

                            <div
                                class="flex items-center justify-end px-4 py-3 bg-gray-50 text-right sm:px-6 shadow sm:rounded-bl-md sm:rounded-br-md">
                                <div x-data="{ shown: false, timeout: null }"
                                    x-init="window.livewire.find('4qP6LbK1CUzBaFkn9ygX').on('saved', () => { clearTimeout(timeout); shown = true; timeout = setTimeout(() => { shown = false }, 2000);  })"
                                    x-show.transition.opacity.out.duration.1500ms="shown" style="display: none;"
                                    class="text-sm text-gray-600 mr-3">
                                    Đã lưu mật khẩu 
                                </div>

                                <button type="submit"
                                    class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

