<main id="app">
    <div class="box-wrapper container-fluid">
        <div class="content-wrapper unsidebar">
            <div id="main-content" class="exam-preview">
                <div class="content-header bg-white">
                    <div class="container">
                        <div class="headline bg0 flex-wr-sb-c p-t-10">
                        </div>
                        <h2 class="name-exam f1-l-3 cl2 p-b-10 p-t-10 respon2">
                            <span>Tên đề</span>
                        </h2>
                    </div>

                </div>
                <div class="content-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h4 class="f1-l-4 cl3 p-tb-12 name-sub-exam">
                                    10 Đề thi thử THPTQG môn GDCD có đáp án (P1)
                                </h4> -->
                                <ul class="exam-infor">
                                    <li>
                                        <p><i class="far fa-calendar-check"></i> 4949 lượt thi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-question-circle"></i> 40 câu hỏi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-clock"></i> 50 phút</p>
                                    </li>
                                </ul>
                                <div class="p-tb-12">
                                    <a href="/Thi/2" class="start_exam" data-toggle="modal"
                                        data-target="#loginModal">
                                        <i class="fas fa-stopwatch"></i> BẮT ĐẦU LÀM BÀI
                                    </a>
                                </div>
                                <div>
                                    <h3 class="f1-m-14 cl3 p-t-5 text-uppercase">
                                        Danh sách câu hỏi
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12"*ngFor="let item of CauHoiDeCauHoi;let i=index">
                                            <div class="qas" style="max-height: initial;">
                                                <div class="p-t-12">
                                                    <div class="quiz-answer-item"  >
                                                        <a href="" class="question">
                                                            <p class="number-question">Câu {{i+1}}:</p>
                                                            <div class="title-question overflow-x-el p-t-12" [innerHTML]="item.cauHoi1" >
                                                                <!-- {{item.cauHoi1}} -->
                                                            </div>
                                                        </a>
                                                        <div class="answers" style="margin-top: -10px;" >
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice" >
                                                                <label>
                                                                    <span class="cr"></span>
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">A.
                                                                            </span></strong>
                                                                        <span style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;" >
                                                                            {{tempArray[i][0]}}
                                                                        </span>
                                                                    </p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label>
                                                                    <span class="cr"></span>
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">B.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">  {{tempArray[i][1]}}</span></p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label>
                                                                    <span class="cr"></span>
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">C.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">
                                                                            {{tempArray[i][2]}}
                                                                        </span></p>
                                                                </label>
                                                            </div>
                                                            <div class="answer-check radio" data-toggle="modal"
                                                                data-target="#exam-modal_notice">
                                                                <label>
                                                                    <span class="cr"></span>
                                                                    <p><strong style="font-size: medium;"><span
                                                                                style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">D.
                                                                            </span></strong><span
                                                                            style="font-size: 14pt; line-height: 21.4667px; font-family: 'Times New Roman', serif;">
                                                                            {{tempArray[i][3]}}</span></p>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <a href="/Thi/{{item.maDeCauHoi}}" class="view-more-exam" data-toggle="modal"
                                                    data-target="#loginModal">
                                                    <i class="far fa-hand-point-right"></i> Bắt đầu thi ngay
                                                </a>
                                                <br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay"></div>
    </div>
</main>