<footer>
    <div class="bg2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 p-b-20">
            <div class="size-h-3 flex-s-c">
              <a href="index.html">
                <img
                  class="max-s-full"
                  src="/assets/user/images/logo_white.png"
                  alt="LOGO"
                />
              </a>
            </div>
            <div style="width: 85%">
              <p class="f1-s-1 cl11 p-b-16">
                <i class="fa fa-map-marker" style="font-size: 12px"></i>
                <b
                  >Tầng 2, số nhà 541 Vũ Tông Phan, Phường Khương Đình, Quận
                  Thanh Xuân, Thành phố Hà Nội, Việt Nam</b
                >
              </p>
              <p class="f1-s-1 cl11 p-b-16">
                <i class="fas fa-mobile-alt" style="font-size: 12px"></i>
                Phone: <b>084 283 4585</b>
              </p>
              <p class="f1-s-1 cl11 p-b-16">
                <i class="far fa-envelope" style="font-size: 12px"></i> Email:
                <b>vietjackteam@gmail.com</b>
              </p>
              <div class="p-t-15">
                <a
                  target="_blank"
                  href="https://www.facebook.com/hoc.cung.vietjack"
                  class="fs-18 cl11 hov-cl10 trans-03 m-r-8"
                >
                  <span class="fab fa-facebook-f"></span>
                </a>
                <a
                  target="_blank"
                  href="https://www.youtube.com/c/HọccùngVietJack/featured"
                  class="fs-18 cl11 hov-cl10 trans-03 m-r-8"
                >
                  <span class="fab fa-youtube"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 p-b-20">
            <div class="size-h-3 flex-s-c">
              <h5 class="f1-m-4 cl0 text-uppercase">Liên kết</h5>
            </div>
            <ul>
              <li class="flex-wr-sb-s p-b-5">
                <div class="size-w-5">
                  <h6>
                    <a
                      href="cau-hoi.html"
                      class="f1-s-5 cl11 hov-cl10 trans-03"
                    >
                      Thư viện câu hỏi miễn phí
                    </a>
                  </h6>
                  <span class="f1-s-3 cl6"> </span>
                </div>
              </li>
              <li class="flex-wr-sb-s p-b-5">
                <div class="size-w-5">
                  <h6>
                    <a
                      href="https://khoahoc.vietjack.com/"
                      class="f1-s-5 cl11 hov-cl10 trans-03"
                    >
                      Khóa học - Bài giảng
                    </a>
                  </h6>
                  <span class="f1-s-3 cl6"> </span>
                </div>
              </li>
              <li class="flex-wr-sb-s p-b-5">
                <div class="size-w-5">
                  <h6>
                    <a
                      href="https://hoidapvietjack.com/"
                      class="f1-s-5 cl11 hov-cl10 trans-03"
                    >
                      Hỏi đáp bài tập
                    </a>
                  </h6>
                  <span class="f1-s-3 cl6"> </span>
                </div>
              </li>
              <li class="flex-wr-sb-s p-b-5">
                <div class="size-w-5">
                  <h6>
                    <a
                      href="https://tailieumoi.vn/"
                      class="f1-s-5 cl11 hov-cl10 trans-03"
                    >
                      Tài liệu tham khảo
                    </a>
                  </h6>
                  <span class="f1-s-3 cl6"> </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-5 p-b-20">
            <div class="size-h-3 flex-s-c">
              <h5 class="f1-m-4 cl0 text-uppercase">Thi online</h5>
            </div>
            <div id="grade-menu-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg11">
      <div class="container flex-c-c p-tb-7">
        <span class="f1-s-1 cl0 txt-center">
          Copyright © 2021
          <a href="#" class="f1-s-1 cl10 hov-link1">Vietjack.</a>
          All rights reserved.
        </span>
      </div>
    </div>
  </footer>