<main id="app">
    <div class="box-wrapper container-fluid">
        <div class="content-wrapper unsidebar">
            <div id="main-content" class="exam-preview">
                <!-- <div class="content-header bg-white">
                    <div class="container">
                        <div class="headline bg0 flex-wr-sb-c p-t-10">
                        </div>
                        <h2 class="name-exam f1-l-3 cl2 p-b-10 p-t-10 respon2">
                            <span>Tên đ ề</span>
                        </h2>
                    </div>

                </div> -->
                <div class="content-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h4 class="f1-l-4 cl3 p-tb-12 name-sub-exam">
                                    10 Đề thi thử THPTQG môn GDCD có đáp án (P1)
                                </h4> -->
                                <!-- <ul class="exam-infor">
                                    <li>
                                        <p><i class="far fa-calendar-check"></i> 4949 lượt thi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-question-circle"></i> 41 câu hỏi</p>
                                    </li>
                                    <li>
                                        <p><i class="far fa-clock"></i> 50 phút</p>
                                    </li>
                                </ul>
                                <div class="p-tb-12">
                                    <a href="javascript:;" class="start_exam" data-toggle="modal"
                                        data-target="#loginModal">
                                        <i class="fas fa-stopwatch"></i> BẮT ĐẦU LÀM BÀI
                                    </a>
                                </div> -->
                                <div>
                                    <h3 class="f1-m-14 cl3 p-t-5 text-uppercase">
                                        Danh sách kết quả thi
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Mã đề</th>
                                                    <th scope="col">Điểm</th>
                                                    <th scope="col">Ngày thi</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let item of data_NDD;let i=index;" >
                                                    <th scope="row">{{i+1}}</th>
                                                    <td>{{item.maDe}}</td>
                                                    <td>{{item.diem}}</td>
                                                    <td>{{item.ngayTao}}</td>
                                                  </tr>
                                                 
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay"></div>
    </div>
</main>