<main id="app">
    <div class="main-page">
        <div class="container">
            <div class="flex-wr-sb-c p-rl-20 p-t-20 f2-s-1">
                <span class="text-uppercase cl2 p-r-8"> Bài thi Hot: </span>
                <marquee id="exam-trending" class="trending" width="80%" direction="left" onmouseover="this.stop();"
                    onmouseout="this.start();">
                    <span class="trending-item">
                        <span class="dis-inline-block">
                            <a href="index.html" class="f1-s-2 cl3 hov-cl10 trans-03">
                                <i class="far fa-newspaper"></i>&nbsp;&nbsp;
                                <span class="exam-title">
                                    30 đề thi thử đề thi thử THPTQG môn Tiếng Anh có lời giải
                                    chi tiết (Đề số 1) - Môn Tiếng Anh (mới) - Thi thử THPT
                                    Quốc gia
                                </span>
                                <span class="d-none exam-view">117596</span>
                            </a>
                        </span>
                        <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </marquee>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row m-t-15">
                        <div class="col-lg-6 col-md-12">
                            <div class="info-box">
                                <a href="thi-online/danh-gia-nang-luc/dhqg-ho-chi-minh.html"
                                    title="Kỳ thi đánh giá năng lực về cơ bản là bài kiểm tra tập trung đánh giá năng lực cơ bản của thí sinh chuẩn bị bước vào đại học.">
                                    <div class="info-box-body">
                                        <div class="info-box-icon" style="background-color: #09a3ab">
                                            Đ
                                        </div>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Đánh giá năng lực</span>
                                            <p class="info-box-des">
                                                Kỳ thi đánh giá năng lực về cơ bản là bài kiểm tra
                                                tập trung đánh giá năng lực cơ bản của thí sinh
                                                chuẩn bị bước vào đại học.
                                            </p>
                                            <span class="info-box-number">968 bộ đề</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="info-box">
                                <a href="thi-online/thi-thu-thpt-quoc-gia/toan.html"
                                    title="Luyện thi các bài tập trắc nghiệm trực tuyến sát đề có lời giải chi tiết giúp tăng khả năng đạt được điểm cao.">
                                    <div class="info-box-body">
                                        <div class="info-box-icon" style="background-color: #dd4b39">
                                            T
                                        </div>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Thi thử THPT Quốc gia</span>
                                            <p class="info-box-des">
                                                Luyện thi các bài tập trắc nghiệm trực tuyến sát đề
                                                có lời giải chi tiết giúp tăng khả năng đạt được
                                                điểm cao.
                                            </p>
                                            <span class="info-box-number">7334 bộ đề</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="info-box">
                                <a href="thi-online/lop-12/toan.html"
                                    title="Luyện bài tập trắc nghiệm trực tuyến các môn Toán, Lý, Hóa, Sinh, Anh, Sử, Địa, GDCD theo hướng đánh giá năng lực.">
                                    <div class="info-box-body">
                                        <div class="info-box-icon" style="background-color: #f39c12">
                                            12
                                        </div>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Lớp 12</span>
                                            <p class="info-box-des">
                                                Luyện bài tập trắc nghiệm trực tuyến các môn Toán,
                                                Lý, Hóa, Sinh, Anh, Sử, Địa, GDCD theo hướng đánh
                                                giá năng lực.
                                            </p>
                                            <span class="info-box-number">7657 bộ đề</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>