<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <div class="topbar">
      <div class="content-topbar container h-100">
        <div class="left-topbar">
          <span class="left-topbar-item flex-wr-s-c">
            <span class="m-r-8">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span> Thứ tư, 04/05/2022 </span>
          </span>
        </div>
        <div class="right-topbar">
          <div class="dropdown" *ngIf="token == null">
            <a routerLink="/Dangky" class="left-topbar-item" >
              <strong><i class="far fa-edit"></i> Đăng ký</strong>
            </a>
            <a routerLink="/Dangnhap" routerLinkActive="router-link-active"  class="left-topbar-item" >
              <strong><i class="fas fa-sign-in-alt"></i> Đăng nhập</strong>
            </a>
          </div>
          <div class="dropdown" *ngIf="token != null">
            <button class=" right-topbar-item pr-3" type="button" id="dropdownMenuButton"
              
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user pr-1"></i>
              <a href="Profile">   {{data_getDN[0].ten}}</a>
            
            </button>
            <button class=" right-topbar-item pr-3" type="button" id="dropdownMenuButton"
              
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="Logout()">
            <i class="fa fa-power-off pr-1"></i>
            Đăng xuất
          </button>

            <!-- <div class="dropdown-menu right-topbar__dropdown" *ngIf="showMyContainer" aria-labelledby="dropdownMenuButton" id="btn-u">
              <a class="left-topbar-item" style="cursor: pointer">
                <i class="fa fa-user pr-2"></i>
                Hồ sơ
              </a>
              <br>
              <a class="left-topbar-item" (click)="Logout()">
                <i class="fas fa-sign-out-alt pr-2"></i>
                Đăng xuất
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
      <!-- Logo moblie -->
      <div class="logo-mobile">
        <a href="index.html"><img src="/assets/user/images/logo.png" alt="IMG-LOGO" /></a>
      </div>
      <input id="search-mobile" type="checkbox" class="d-none" />
      <div class="form-search ml-auto form-search-mobile">
        <form class="form-inline" method="get">
          <a href="javascript:void(0)" class="btn-search"><i class="fas fa-search"></i></a>
          <input autocomplete="off" class="form-control mr-sm-2" type="text" placeholder="Bạn muốn tìm gì?"
            name="keyword" aria-label="Search" value="" />
          <label class="cancel" for="search-mobile"><i class="fas fa-window-close"></i></label>
        </form>
      </div>
      <label class="btn-search-mobile" for="search-mobile">
        <i class="fas fa-search"></i>
      </label>
      <!-- Button show menu -->
      <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
    <!-- Menu Mobile -->
    <div class="menu-mobile">
      <ul class="topbar-mobile">
        <li class="left-topbar">
          <span class="left-topbar-item flex-wr-s-c">
            <span class="m-r-8">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span> Thứ tư, 04/05/2022 </span>
          </span>
          <a href="#" class="left-topbar-item" data-toggle="modal" data-target="#loginModal">
            <strong><i class="far fa-edit"></i> Đăng ký</strong>
          </a>
          <a href="#" class="left-topbar-item" data-toggle="modal" data-target="#loginModal">
            <strong><i class="fas fa-sign-in-alt"></i> Đăng nhập</strong>
          </a>
        </li>
        <li class="right-topbar text-center">
          <a target="_blank" href="https://www.facebook.com/hoc.cung.vietjack">
            <span class="fab fa-facebook-f"></span>
          </a>
          <a target="_blank" href="https://www.youtube.com/c/HọccùngVietJack/featured">
            <span class="fab fa-youtube"></span>
          </a>
        </li>
      </ul>
      <ul class="main-menu-m">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="#">Thi Online</a>
          <span class="arrow-main-menu-m">
            <i class="fas fa-caret-right"></i>
          </span>
        </li>
        <li>
          <a href="cau-hoi.html">Thư Viện</a>
        </li>
      </ul>
    </div>
    <!--  -->
    <div class="wrap-logo container">
      <!-- Logo desktop -->
      <div class="logo">
        <a href="index.html"><img src="/assets/user/images/logo.png" alt="LOGO" /></a>
      </div>
      <div class="form-search ml-auto form-search-desktop">
        <form class="form-inline" method="get">
          <a href="javascript:void(0)" class="btn-search"><span class="fas fa-search"></span></a>
          <input autocomplete="off" class="form-control mr-sm-2" type="text" placeholder="Bạn muốn tìm gì?"
            name="keyword" aria-label="Search" value="" />
          <span class="cancel"><i class="fas fa-window-close"></i></span>
        </form>
      </div>
    </div>
    <!--  -->
    <div class="wrap-main-nav">
      <div class="main-nav">
        <!-- Menu desktop -->
        <nav class="menu-desktop">
          <a class="logo-stick" href="index.html">
            <img src="/assets/user/images/logo_white.png" alt="LOGO" />
          </a>
          <ul class="main-menu">
            <li>
              <a href="index.html"><i class="fas fa-home"></i></a>
            </li>
            <li class="mega-menu-item">
              <a href="#">Thi Online</a>
              <div class="sub-mega-menu">
                <div class="nav flex-column nav-pills" role="tablist">
                  <a class="nav-link" data-toggle="pill" href="#grade-13" role="tab">Thi thử THPT Quốc gia
                  </a>
                </div>
                <div class="tab-content">
                  <div class="tab-pane show active" id="grade-13" role="tabpanel">
                    <div class="row">
                      <div class="col-3" *ngFor="let item of mon">
                        <div class="p-t-10">
                          <h5 class="p-b-5">
                            <a href="/DebyMon/{{item.id}}" routerLinkActive="router-link-active"
                              class="f1-s-5 cl3 hov-cl10 trans-03">

                              {{ item.tenMon }}
                            </a>
                          </h5>                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="cau-hoi.html">Thư Viện</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>