<main id="app">
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-exam m-b-20">
                        <div style="margin-top: 10px;">
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==1">Luyện bài tập - đề thi môn Toán Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==2">Luyện bài tập - đề thi môn Vật Lí Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==3">Luyện bài tập - đề thi môn Hóa Học Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==4">Luyện bài tập - đề thi môn Sinh Học Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==5">Luyện bài tập - đề thi môn Lịch Sử Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==6">Luyện bài tập - đề thi môn Địa Lí Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==7">Luyện bài tập - đề thi môn Giáo dục công dân Thi thử THPT Quốc gia
                            </h3>
                            <h3 class="title-exam text-uppercase" *ngIf="De[0].maMon==8">Luyện bài tập - đề thi môn Tiếng anh Thi thử THPT Quốc gia
                            </h3>
                        </div>
                        
                        <div class="exams-content">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="bg0 chapter-item">
                                        <a class="url-root" title="Tổng hợp các đề thi hay nhất có đáp án">
                                            Tổng hợp các đề thi hay nhất có đáp án
                                        </a>
                                        <ul class="list-style-none lesson-wrapper">
                                            <li class="exam-item last-item" *ngFor="let item of De">
                                                <div class="is_free visible">
                                                </div>
                                                <div class="block-content-exam-item">
                                                    <p class="test m-b-10">
                                                        <a class="url-root" routerLink="/DeCauHoi/{{item.id}}" routerLinkActive="router-link-active" 
                                                            
                                                            title="{{item.tenDe}}"
                                                            style="margin-left: 0;">
                                                            <i class="fas fa-check-circle fs-14"
                                                                style="color: red;"></i> 
                                                                {{item.tenDe}}
                                                        </a>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>